body{
    background-color: beige;
}
.title{
    color: burlywood;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
}
button{
    background-color: lightgreen;
    font-style: italic;
    font-weight:400;
    font-size: 14px;
}
.button-list{
    list-style-type: none;
    padding:0%;
    margin:0%;
}
